// colors
$primary-color: #3498db;
$card-background-color: #a7a8a9;
$text-color: #333;
$white: #fff;

$icon-color: #a7a8a9;
$icon-color-hover: #8d8e90;

// layout
$basic-spacing: 16px;
$basic-spacing-small: 8px;
$basic-spacing-big: 24px;
$basic-spacing-large: 32px;

// font-size
$font-size-small: 16px;
$font-size-medium: 20px;
$font-size-big: 32px;

// fonts
$font-family-primary: "Exo 2", sans-serif;

// radius
$border-radius: 16px;
$border-radius-small: 10px;
